<div class="content">
    <form [formGroup]="Addfood" (ngSubmit)="goto2(Addfood.value)">

        <mat-form-field class="example-full-width me-4e" appearance="outline">
            <mat-label>Mobile Number</mat-label>
            <span matPrefix>+1 &nbsp;</span>
            <input  maxlength="10" matInput placeholder="555-555-1234" formControlName="mobileNo">
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf=" !Addfood.hasError('required')">
                Please enter a your mobile No
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width me-4e">
            <mat-label>trainNo</mat-label>
            <input maxlength="6" matInput formControlName="trainNo" >
            <mat-error *ngIf=" !Addfood.hasError('required')">
                Please enter a your trainNo
            </mat-error>
        </mat-form-field> <br>
        

        <mat-form-field appearance="outline" class="example-full-width me-4e">
            <input matInput placeholder="Journey Date" [matDatepicker]="picker" formControlName="journeyDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf=" !Addfood.hasError('required')">
                Please enter a your Journey Date
            </mat-error>
        </mat-form-field>

         <br> <mat-form-field  appearance="outline" class="example-full-width me-4e">
            <mat-label>Time</mat-label>
            <input type="time" matInput placeholder="ex 12:00" formControlName="time">
            <mat-error *ngIf=" !Addfood.hasError('required')">
                Please enter a your time
            </mat-error>
        </mat-form-field>
       

        <div> <button color="primary" mat-raised-button [disabled]="Addfood.invalid">next</button></div>
    </form>

</div>